@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(2, 2, 2, 0.3)), url("images/photo-1542181961-9590d0c79dab.avif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 300vh;
}

html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
}

/* navbar section */
.navbar {
  padding: 1.2rem;
  background-color: rgba(15, 15, 15, 0.562) !important;
}

.nav-nav {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.nav-link, nav-link.active {
  margin: 0 50px 0 50px;
  color: whitesmoke !important;
  font-size: 15px;
  transition: color 200ms !important;
}

.nav-link:hover, nav-link.active:hover, .navbar-brand:hover {
  color: rgb(214, 214, 214) !important;
}

.navbar-brand  {
  font-size: 1.7rem;
  color: rgb(245, 245, 245);
  transition: color 200ms !important;
}

.navbar-toggler {
  background-color: rgba(221, 215, 215, 0.952);
}

.header-img {
  border-radius: 10px;
}

.header-bg {
  background-color: rgba(15, 15, 15, 0.562);
  padding: 5%;
  border-radius: 10px;
}

.socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.under-header {
  font-size: 20px;
}

hr {
  color: whitesmoke;
}

.space-between {
  height: 15vh;
}

.menu-item {
  border-radius: 300px;
}